[Desktop Entry]
Type=Application
Name=SilicaMenuDemo
Icon=icon-launcher-gallery
Exec=invoker --type=j -s /opt/sdk/bin/SilicaMenuDemo
Comment=Sailfish UI application


